<!DOCTYPE html>
<html>
  <body>
    <h1>Connect a bank account</h1>
    <button id="link-button">Connect</button>

    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
      document.getElementById('link-button').addEventListener('click', async () => {
        const response = await fetch('create_link_token', {
            method: 'POST'
        });
        const data = await response.json()
        //console.log(data) ## You can un-comment this line to see the flow of data 
        const handler = Plaid.create({
            token: data.link_token,
            onSuccess: (public_token, metadata) => { fetch('exchange_public_token', { 
                method : 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ public_token: public_token })
            }); },
            onExit: (err, metadata) => { console.log(err, metadata); }
        });
        handler.open();
      });
    </script>
  </body>
</html>
