<!DOCTYPE html>
<html>
  <body>
    <h1>Connect a bank account</h1>

    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
      const linkHandler = Plaid.create({
        token: (await $.post('/create_link_token')).link_token,
        onSuccess: (public_token, metadata) => {
          // Send the public_token to your app server.
          $.post('/exchange_public_token', {
            public_token: public_token,
          });
        },
        onExit: (err, metadata) => {
          console.log(err, metadata)
        },
        onEvent: (eventName, metadata) => {
          // Optionally capture Link flow events, streamed through
          // this callback as your users connect an Item to Plaid.
        },
      });

      linkHandler.open();
    </script>
  </body>
</html>
